{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Ecommerce by ITA Júnior">
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "startpage/titleAndLogo.html" %}
        {% include "loginAndSignUp/includesLogin.html" %} 
        {% include "startpage/includes.html" %}     
    </head>
    <body style="width:100%;">
        {% include "startpage/header.html" %}
        {% block body %}
        {% endblock %}
        {% include "startpage/footer.html" %}
    </body>
</html>

