{% extends "loginAndSignUp/baseProfile.html" %}
{% load static %}
{% block body %}
{% include "loginAndSignUp/includesLogin.html" %}
{% include "startpage/includes.html" %}

<div style="flex:2;">
    <form
        method="POST" 
        class="login100-form validate-form"
        activate=""
        style="
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width:100%;
        "
    >
        {% csrf_token %}
        <div class="wrap-input100 validate-input" data-validate = "Não esqueça da sua senha">
            <input class="input100" type="password" name="password" placeholder="Senha atual">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>
        <div class="wrap-input100 validate-input" data-validate = "Não esqueça da sua senha">
            <input class="input100" type="password" name="new_password" placeholder="Nova Senha">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>
        <div class="wrap-input100 validate-input" data-validate = "Não esqueça da sua senha">
            <input class="input100" type="password" name="new_password1" placeholder="Confirmar Nova Senha">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                Confirmar Mudança
            </button>
        </div>
    </form>
    {% if passwordsDifferent %}
    <div class="alert alert-danger" role="alert">
        <strong>Senhas Diferentes!</strong> Tente novamente!
    </div>
{% endif %}
{% if passwordCorrect == False %}
    <div class="alert alert-danger" role="alert">
        <strong>Senha incorreta!</strong> Tente novamente!
    </div>
{% endif %}
</div>

{% endblock %}
